.view-pdf {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.view-pdf input {
  border: 1px solid #666;
  border-radius: .2rem;
}

.pdf-view {
  width: 100%;
  height: 100vh;
  border: 1px solid #666;
  background-color:rgb(240, 240, 240);
}

.viewer {
  height: 100vh;
}